<div id="left-panel">
  Welcome to DevMountain Social<br/>
  Add some info so friends can find you.
  <br/><br/>
  <input class="form-field" ng-model="profile.name" type="text" placeholder="Full Name"/><br/>
  <input class="form-field" ng-model="profile.tagline" type="text" placeholder="Tagline"/><br/>
  <input class="form-field" ng-model="profile.profileImageUrl" type="text" placeholder="Profile Image Url"/><br/>
  <textarea ng-model="profile.bio" placeholder="Bio"></textarea><br/><br/>
  <button class="submit-button" ng-click="addNewProfile(profile)">Save Changes</button>
</div>
<div id="right-panel">
  [placeholder]
</div>
